@import '../variables.scss';
#container {
    display: flex;
    flex-direction: column; 
}
nav {
    overflow: hidden;
    background-color: $color-pink;
    position: fixed;
    top: 0;
    left:0;
    width: 10%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    ul {
      text-align: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      :hover{
          text-decoration: solid;
          color: $color-white;
      }
      li {
        font-size: 25px;
        padding: 15%;
      }
    }
}
.content {
    text-align: center;
}